<html>
<head>
    <meta charset="UTF-8">
    <title>Task</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="/style.css">

</head>
<body>
<div class="login-form">
    <form method="post" action="addTask">
        {{#toEditTask}}
            <input type="hidden" name="taskId" value={{id}}>
        <div class="input-field">
            <input type="text" name="description" value={{description}} placeholder="Description" autocomplete="nope">
        </div>
        <div class="input-field">
            <input type="date" name="beginDate" value={{beginDate}} placeholder="To start after" autocomplete="nope" readonly="true">
        </div>
        <div class="input-field">
            <input type="date" name="endDate" value={{endDate}} placeholder="To complete before" autocomplete="nope" readonly="true">
        </div>
        <div class="input-field">
            <input type="text" name="priority" value={{priority}} placeholder="Priority" autocomplete="nope" readonly="true">
        </div>
            <select class="form-control" id="status" name="status">
                <option value="">Select status</option>
                <option>toDo</option>
                <option>inProgress</option>
                <option>Finished</option>
            </select>
        <div class="action">
            <button type="submit">Add task</button>
        </div>
        {{/toEditTask}}
    </form>
</div>
</body>
</html>