<html>
<head>
    <meta charset="UTF-8">
    <title>New employee</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="/style.css">

</head>
<body>
<div class="login-form">
<form method="post" action="addEmployee">
    <h1>Информация о сотруднике</h1>
    <div class="input-field">
        <input type="text" name="surName" placeholder="SurName" autocomplete="nope">
    </div>
    <div class="input-field">
        <input type="text" name="name" placeholder="Name" autocomplete="nope">
    </div>
    <div class="input-field">
        <input type="text" name="middleName" placeholder="MiddleName" autocomplete="nope">
    </div>
    <div class="input-field">
        <input type="text" name="phone" placeholder="Phone" autocomplete="nope">
    </div>
    <div class="input-field">
        <input type="text" name="login" placeholder="Login" autocomplete="nope">
    </div>
    <div class="input-field">
        <input type="text" name="password" placeholder="Password" autocomplete="nope">
    </div>
    <div class="input-field">
        <input type="text" name="role" placeholder="Role" autocomplete="nope">
    </div>
    <div class="action">
        <button type="submit">Зарегистрировать нового сотрудника</button>
    </div>
</form>
</div>
</body>
</html>