
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>ERROR</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-form">
        <h1>Error</h1>
        <h3>{{errorMessage}}</h3>
</div>
<script  src="./script.js"></script>

</body>
</html>
