<html>
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="/style.css">

</head>

<body>
<div class="main-form">
<table align="center" class="table table-striped">
    <thead>
    <tr>
        <th>SurName</th>
        <th>Name</th>
        <th>MiddleName</th>
        <th>Phone</th>
        <th>Role</th>
        <th>Login</th>
        <th>Tasks</th>
        <th>     </th>
        <th>     </th>
    </tr>
    </thead>
    <tbody>
    {{#users}}
        <tr>
            <td>{{surName}}</td>
            <td>{{name}}</td>
            <td>{{middleName}}</td>
            <td>{{phone}}</td>
            <td>{{role}}</td>
            <td>{{login}}</td>
            <td>{{#tasks}}{{id}} {{status}} {{/tasks}}</td>
            <td>
            <td>
                <form method="get" action="{{id}}">
                    <div class="action">
                        <button type="submit">Изменить</button>
                    </div>
                </form>
            </td>
            <td>
                <form method="post" action="deleteEmployee/{{id}}">
                    <div class="action">
                        <button type="submit">Удалить</button>
                    </div>
                </form>
            </td>
        </tr>
    {{/users}}
    </tbody>
</table>
</div>
</body>
</html>